@{
    ViewBag.Title = "AddItem";
}
@Styles.Render("~/Template/Css")
@Scripts.Render("~/Wijmo/Js")

<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<section class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- ===================Main Header============================ -->
        @Html.Partial("_MainHeader")
        <!-- ===================Main Sidebar============================ -->
        @Html.Partial("_MainSidebar")
        <!-- =============================================== -->

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1 class="fa fa-table">
                    Item Detail
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../Software/Dashboard"><i class="fa fa-table"></i> Home</a></li>
                    <li><a href="../Software/Item">Item</a></li>
                    <li class="active">Add Item</li>
                </ol>
                <!---Menu Tab-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Nav tabs -->
                            <div class="card">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#genInfo" aria-controls="genInfo" role="tab" data-toggle="tab">General Information</a></li>
                                    @*<li role="presentation"><a href="#otherInfo" aria-controls="otherInfo" role="tab" data-toggle="tab">Other Information</a></li>*@
                                    <li role="presentation"><a href="#image" aria-controls="image" role="tab" data-toggle="tab">Image</a></li>
                                </ul>
                                <section class="container">
                                    <!--Buttons-->
                                    <div class="btn-group-horizontal pull-right">
                                        <a class="btn btn-app" id="lock">
                                            <i class="fa fa-lock"></i> Lock
                                        </a>
                                        @*<a class="btn  btn-app" id="unlock">
                                            <i class="fa fa-unlock"></i> Unlock
                                        </a>*@
                                        <a class="btn btn-app" id="close">
                                            <i class="fa fa-close"></i> Close
                                        </a>
                                    </div><!--btn horizontal-->
                                </section>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="genInfo">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <h3 class="box-title" id="genInfo">General Information</h3>
                                            </div><!-- /.box-header -->
                                            <!-- form start -->
                                            <form class="form-horizontal" id="add-form">
                                                <div class="box-body">

                                                    <div class="form-group">
                                                        <label for="itemCode" class="col-sm-2 control-label">Item Code</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="itemCode" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="barCode" class="col-sm-2 control-label">Bar Code (SKU)</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" name="barCode" class="form-control dis" id="barCode" placeholder="NA">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="itemDescription" class="col-sm-2 control-label">Item Description</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control dis" id="itemDescription" placeholder="NA">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="alias" class="col-sm-2 control-label">Alias</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control dis" id="alias" placeholder="NA">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="category" class="col-sm-2 control-label">Category</label>
                                                        <div class="col-sm-4">
                                                            <select class="form-control dis" id="category">
                                                                <option value="NA">NA</option>
                                                                <option value="Kitchen">Kitchen</option>
                                                                <option value="Maintenance Supply">Maintenance Supply</option>
                                                                <option value="Fans">Fans</option>
                                                                <option value="Lightning">Lightning</option>
                                                                <option value="Office Supply">Office Supply</option>
                                                                <option value="Food">Food</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!-- select -->
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Unit</label>
                                                        <div class="col-sm-4">
                                                            <select class="form-control dis" id="unit"></select>
                                                        </div>
                                                    </div>
                                                    <!-- select -->
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Default Supplier</label>
                                                        <div class="col-sm-4">
                                                            <select class="form-control dis" id="supplier"></select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="alias" class="col-sm-2 control-label">Cost</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control dis" id="cost" placeholder="0.00">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="alias" class="col-sm-2 control-label">Mark up(%)</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control dis" id="markup" placeholder="0.00">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="alias" class="col-sm-2 control-label">Price</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control dis" id="price" placeholder="0.00">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="alias" class="col-sm-2 control-label">Stock Level Quantity</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control dis" id="stocklvlqty" placeholder="0.00">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="alias" class="col-sm-2 control-label">On-Hand Quantity</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control dis" id="onhandqty" placeholder="0.00">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Inventory</label>
                                                        <div class="col-sm-6">
                                                            <input type="checkbox" class="minimal dis" id="inventory" checked>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Package</label>
                                                        <div class="col-sm-6">
                                                            <input type="checkbox" class="minimal dis" id="package" checked>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="alias" class="col-sm-2 control-label">Expiry Date</label>
                                                        <div class="col-sm-6">
                                                            <input type="date" class="form-control dis" id="expdate">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="alias" class="col-sm-2 control-label">Lot Number</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control dis" id="lotno">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="alias" class="col-sm-2 control-label">Remarks</label>
                                                        <div class="col-sm-6">
                                                            <textarea max-length="500" class="form-control dis" id="remarks"></textarea>
                                                        </div>
                                                    </div>
                                                </div><!-- /.box-body -->
                                                <div class="box-footer">
                                                </div><!-- /.box-footer -->
                                            </form>
                                        </div><!-- /.box -->
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="otherInfo">
                                        <div class="box box-info">
                                            <div class="box-header with-border">
                                                <h3 class="box-title" id="othInfo">Other Information</h3>
                                            </div><!-- /.box-header -->
                                            <!-- form start -->
                                            <form class="form-horizontal">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="genericName" class="col-sm-2 control-label">Generic Name</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="genericName" placeholder="Generic Name">
                                                        </div>
                                                    </div>
                                                </div><!-- /.box-body -->
                                                <div class="form-group">
                                                    <label for="category" class="col-sm-2 control-label">Sales Account</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control">
                                                            <option>Sales</option>
                                                            <option>Account Name</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="category" class="col-sm-2 control-label">Asset Account</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control">
                                                            <option>Sales</option>
                                                            <option>Account Name</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="category" class="col-sm-2 control-label">Cost Account</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control">
                                                            <option>Sales</option>
                                                            <option>Account Name</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="category" class="col-sm-2 control-label">Purchase VAT</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control">
                                                            <option>Sales</option>
                                                            <option>Account Name</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="category" class="col-sm-2 control-label">Sales VAT</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control">
                                                            <option>Sales</option>
                                                            <option>Account Name</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="category" class="col-sm-2 control-label">Kitchen Report</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control">
                                                            <option>Sales</option>
                                                            <option>Account Name</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="box-body table-responsive no-padding">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>Price Description</th>
                                                            <th>Price</th>
                                                            <th>Trigger Quantity</th>
                                                            <th>Filters</th>
                                                        </tr>
                                                        <tr>
                                                            <td>CLASS A</td>
                                                            <td>0.10</td>
                                                            <td>0.0</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-danger fa fa-trash"></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>CLASS A</td>
                                                            <td>0.10</td>
                                                            <td>0.0</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-danger fa fa-trash"></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div><!-- /.box-body -->
                                                <div class="box-footer">
                                                </div><!-- /.box-footer -->
                                            </form>
                                        </div><!-- /.box -->
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="image">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="box box-primary">
                                                        <div class="form-group">
                                                            <label for="image" class="col-sm-2 control-label">Image Path</label>
                                                            <input type="file" id="image">
                                                            <p class="help-block col-sm-10">Choose a file</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---End Tab-->
            </section>
        </div><!-- ./wrapper -->
    <!--SUCCESS-WARNING MODAL-->
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="Loading..." aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class=" modal-dialog modal-sm">
            
            <div class="modal-content">
                <div class="modal-body">
                  <div id="msg-txt">

                  </div>
                </div>
                <div id="btn" style="padding:10px">
                    <button id="msg-btn" class="btn btn-warning">Close</button>
                </div>
            </div>
        </div>
    </div>
        <!-- END OF SUCCESS-WARNING MODAL -->
        <!-- ===================Main Footer============================ -->
        @Html.Partial("_MainFooter")
    </div>
    <script src="~/Scripts/custom/item.js"></script>
    <script>
        $(document).ready(function () {

            loadUnits();
            loadSupplier();
            $('.itemdis').prop('disabled', false);
            $('.dis').prop('disabled', false);
            $('#itemCode').val(localStorage.getItem("lastId"));

            $('#lock').click(function () {
                $('.dis').prop('disabled', true);
                addItem();
            });

            $('#unlock').click(function () {
                $('.dis').prop('disabled', false);
                $('#barCode').focus();
            });

            $('#close').click(function () {
                window.location.href = isHost + "/Software/Item";
            });

            $('#msg-btn').click(function () {
                window.location.href = isHost + "/Software/Item";
            });
        });
    </script>
</section>



