
@{
    ViewBag.Title = "SystemTable";
}

<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- ===================Main Header============================ -->
        @Html.Partial("_MainHeader")
        <!-- ===================Main Sidebar============================ -->
        @Html.Partial("_MainSidebar")
        <!-- =============================================== -->

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1 class="fa fa-list">
                    System Tables
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../Software/Dashboard"><i class="fa fa-table"></i> Home</a></li>
                    <li><a href="active">System Table</a></li>
                </ol>
                <!---Menu Tab-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Nav tabs -->
                            <div class="card">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="tab" id="t1" role="presentation"><a href="#chartAccounts" aria-controls="chartAccounts" role="tab" data-toggle="tab">Chart of Accounts</a></li>
                                    <li class="tab" id="t2" role="presentation"><a href="#payType" onclick="initPayTypeList()" aria-controls="payType" role="tab" data-toggle="tab">Pay Type</a></li>
                                    <li class="tab" id="t3" role="presentation"><a href="#tax" onclick="initTaxList()" aria-controls="tax" role="tab" data-toggle="tab">Tax</a></li>
                                    <li class="tab" id="t4" role="presentation"><a href="#unit" onclick="initUnitList()"aria-controls="unit" role="tab" data-toggle="tab">Unit</a></li>
                                    <li class="tab" id="t5" role="presentation"><a href="#period" aria-controls="period" role="tab" data-toggle="tab">Period</a></li>
                                    <li class="tab" id="t6" role="presentation"><a href="#terminal" aria-controls="terminal" role="tab" data-toggle="tab">Terminal</a></li>
                                </ul>
                                <section class="container">
                                    <!--Buttons-->
                                    <div class="btn-group-horizontal pull-right">
                                        <a class="btn btn-app">
                                            <i class="fa fa-lock"></i> Lock
                                        </a>
                                        <a class="btn  btn-app">
                                            <i class="fa fa-unlock"></i> Unlock
                                        </a>
                                        <a class="btn btn-app">
                                            <i class="fa fa-close"></i> Close
                                        </a>
                                    </div><!--btn horizontal-->
                                </section>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane"  id="chartAccounts">
                                        <div class="box box-info">
                                            @Html.Partial("ChartOfAccounts")
                                        </div><!-- /.box -->
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="payType">
                                        <div class="box box-info">
                                            @Html.Partial("PayType")
                                        </div><!-- /.box -->
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tax">
                                        <div class="box box-info">
                                           @Html.Partial("Tax")
                                        </div><!-- /.box -->
                                    </div><!---End of tax tab--->
                                    <div role="tabpanel" class="tab-pane" id="unit">
                                        <div class="box box-info">
                                            @Html.Partial("Unit")
                                        </div><!-- /.box -->
                                    </div><!---End of unit tab--->
                                    <div role="tabpanel" class="tab-pane" id="period">
                                        <div class="box box-info">
                                            <div class="box box-info">
                                                @Html.Partial("Period")
                                            </div><!-- /.box -->
                                        </div><!-- /.box -->
                                    </div><!---End of period tab--->
                                    <div role="tabpanel" class="tab-pane" id="terminal">
                                        <div class="box box-info">
                                            @Html.Partial("Terminal")
                                        </div><!-- /.box -->
                                    </div><!---End of terminal tab--->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---End Tab-->
            </section>
        </div><!-- ./wrapper -->
        <!-- ===================Main Footer============================ -->
        @Html.Partial("_MainFooter")
    </div>
    <script>
    $(document).ready(function () {

        $("#t1").addClass("active");
        $("#chartAccounts").addClass("active");


        $("t1").click(function () {
            $(".tab").removeClass("active");
            $(".tab-pane").removeClass("active");
            $(this).addClass("active");
            $("#chartAccounts").addClass("active");
            $("#chartAccounts").boxRefresh();

        });
        $("t2").click(function () {
            $(".tab").removeClass("active");
            $(".tab-pane").removeClass("active");
            $(this).addClass("active");
            $("#payType").addClass("active");
        });
        $("t3").click(function () {
            $(".tab").removeClass("active");
            $(".tab-pane").removeClass("active");
            $(this).addClass("active");
            $("#tax").addClass("active");

        });
        $("t4").click(function () {
            $(".tab").removeClass("active");
            $(".tab-pane").removeClass("active");
            $(this).addClass("active");
            $("#unit").addClass("active");
        });
        $("t5").click(function () {
            $(".tab").removeClass("active");
            $(".tab-pane").removeClass("active");
            $(this).addClass("active");
            $("#period").addClass("active");
        });
        $("t6").click(function () {
            $(".tab").removeClass("active");
            $(".tab-pane").removeClass("active");
            $(this).addClass("active");
            $("#terminal").addClass("active");
        });
    });
    </script>
</body>
